In [1]:
#Import Packages used in the following analysis
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import time
import datetime

In [2]:
#Pandas Data Frame using date derived from an Excel Spreadsheet
#Print to confirm the Sheet has been read correctly
spwgt = pd.ExcelFile('SP_Weightings1.xlsx')
print(spwgt.sheet_names)

['Index Weightings']

In [3]:
#Import the data from Index Weightings Tab (Index 0) using parse
spwgt1 = spwgt.parse(0)

In [4]:
#Confirmation of the Excel read and a print out of the Data Frame head
spwgt1.info()
print(spwgt1.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Symbol  505 non-null    object
 1   Weight  505 non-null    float64
dtypes: float64(1), object(1)
memory usage: 8.0+ KB
  Symbol    Weight
0   AAPL  6.115734
1   MSFT  5.635407
2   AMZN  4.301124
3     FB  2.283107
4  GOOGL  2.060597

In [5]:
#Pandas Data Frame using date derived from an CSV File
#Confirmation of the CSV read with a print out of the Data Frame head
spcons = pd.read_csv('s_p_constituents.csv')
print(spcons.head())
spcons.shape

  Symbol                 Name       Sector
0    MMM                   3M  Industrials
1    AOS          A. O. Smith  Industrials
2    ABT  Abbott Laboratories  Health Care
3   ABBV               AbbVie  Health Care
4   ABMD              Abiomed  Health Care

(505, 3)

In [6]:
#Pandas Data Frame using date derived from an Excel Spreadsheet
#Print to confirm the Sheet has been read correctly
sp500 = pd.ExcelFile('S&P 500 Daily_Returns 2020.xlsx')
print(sp500.sheet_names)

['Sheet1']

In [7]:
#Import the data from Sheet1 Tab using parse
sp500 = sp500.parse('Sheet1')

In [8]:
#Confirmation of the Excel read and a print out of the Data Frame head
sp500.info()
print(sp500.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253 entries, 0 to 252
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          253 non-null    datetime64[ns]
 1   Open_Index    253 non-null    float64
 2   High_Index    253 non-null    float64
 3   Low_Index     253 non-null    float64
 4   Close_Index   253 non-null    float64
 5   Adj Close     253 non-null    float64
 6   Volume_Index  253 non-null    int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 14.0 KB
        Date  Open_Index  High_Index  Low_Index  Close_Index  Adj Close  \
0 2020-01-02     3244.67     3258.14    3235.53      3257.85    3257.85
1 2020-01-03     3226.36     3246.15    3222.34      3234.85    3234.85
2 2020-01-06     3217.55     3246.84    3214.64      3246.28    3246.28
3 2020-01-07     3241.86     3244.91    3232.43      3237.18    3237.18
4 2020-01-08     3238.59     3267.07    3236.67      3253.05    3253.05

   Volume_Index
0    3458250000
1    3461290000
2    3674070000
3    3420380000
4    3720890000

In [9]:
#Step to drop the Adjusted Close price from the Data Frame as it is not required in the analysis
sp500.drop('Adj Close', axis = 1, inplace=True)

In [10]:
#Calculation to enrich the dataset with the daily movement
sp500['S&P 500 Movement'] = ((sp500['Close_Index'] / sp500['Close_Index'].shift(1))-1)*100
print(sp500.head())

        Date  Open_Index  High_Index  Low_Index  Close_Index  Volume_Index  \
0 2020-01-02     3244.67     3258.14    3235.53      3257.85    3458250000
1 2020-01-03     3226.36     3246.15    3222.34      3234.85    3461290000
2 2020-01-06     3217.55     3246.84    3214.64      3246.28    3674070000
3 2020-01-07     3241.86     3244.91    3232.43      3237.18    3420380000
4 2020-01-08     3238.59     3267.07    3236.67      3253.05    3720890000

   S&P 500 Movement
0               NaN
1         -0.705987
2          0.353339
3         -0.280321
4          0.490242

In [11]:
#Setting Variables that will feed into a Web Call to Yahoo Finance to pull the daily price details for the Year 2020
#For the purposes of the exercise the user should enter Apple (AAPL) and Microsoft (MSFT) byt any S&P 500 ticker can be used
ticker1 = input('Enter Ticker 1 - ') # Enter AAPL
ticker2 = input('Enter Ticker 2 - ') # Enter MSFT
period1 = int(time.mktime(datetime.datetime(2020, 1, 1, 23, 59).timetuple()))
period2 = int(time.mktime(datetime.datetime(2020, 12, 31, 23, 59).timetuple()))
interval = '1d' # Defaulted to 1 day in this code but other frequencies are possible using '1w' for Weekly and '1m' for monthly

Enter Ticker 1 - MMM
Enter Ticker 2 - NTRS

In [12]:
# The variables set from the preceding steps are fed into the web address so that a dynamic read of the data is possible
Stock1 = f'https://query1.finance.yahoo.com/v7/finance/download/{ticker1}?period1={period1}&period2={period2}&interval={interval}&events=history&includeAdjustedClose=true'

In [13]:
# The variables set from the preceding steps are fed into the web address so that a dynamic read of the data is possible
Stock2 = f'https://query1.finance.yahoo.com/v7/finance/download/{ticker2}?period1={period1}&period2={period2}&interval={interval}&events=history&includeAdjustedClose=true'

In [14]:
#Pandas Data Frame using date derived from the Yahoo Finance Website
#Confirmation of the Web read with a print out of the Data Frame head
#Print out the Data Frame Info to verify the date type as this will be used in the merge operation to join the tables together
Stockperiod1 = pd.read_csv(Stock1)
Stockperiod1["Date"] = pd.to_datetime(Stockperiod1["Date"])
Stockperiod1["Symbol"] = ticker1
print(Stockperiod1.head())
Stockperiod1.info()
Stockperiod1.shape

        Date        Open        High         Low       Close   Adj Close  \
0 2020-01-02  177.679993  180.009995  177.139999  180.000000  170.862549
1 2020-01-03  177.020004  178.660004  175.630005  178.449997  169.391220
2 2020-01-06  177.149994  178.710007  176.350006  178.619995  169.552582
3 2020-01-07  178.279999  178.509995  176.820007  177.899994  168.869125
4 2020-01-08  178.000000  181.500000  177.649994  180.630005  171.460571

    Volume Symbol
0  3601700    MMM
1  2466900    MMM
2  1998000    MMM
3  2173000    MMM
4  2758300    MMM
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253 entries, 0 to 252
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       253 non-null    datetime64[ns]
 1   Open       253 non-null    float64
 2   High       253 non-null    float64
 3   Low        253 non-null    float64
 4   Close      253 non-null    float64
 5   Adj Close  253 non-null    float64
 6   Volume     253 non-null    int64
 7   Symbol     253 non-null    object
dtypes: datetime64[ns](1), float64(5), int64(1), object(1)
memory usage: 15.9+ KB

(253, 8)

In [15]:
#Calculation to enrich the dataset with the daily movement
Stockperiod1['{} Movement'.format(ticker1)] = ((Stockperiod1['Close'.format(ticker1)] / Stockperiod1['Close'.format(ticker1)].shift(1))-1)*100
print(Stockperiod1.head())

        Date        Open        High         Low       Close   Adj Close  \
0 2020-01-02  177.679993  180.009995  177.139999  180.000000  170.862549
1 2020-01-03  177.020004  178.660004  175.630005  178.449997  169.391220
2 2020-01-06  177.149994  178.710007  176.350006  178.619995  169.552582
3 2020-01-07  178.279999  178.509995  176.820007  177.899994  168.869125
4 2020-01-08  178.000000  181.500000  177.649994  180.630005  171.460571

    Volume Symbol  MMM Movement
0  3601700    MMM           NaN
1  2466900    MMM     -0.861113
2  1998000    MMM      0.095264
3  2173000    MMM     -0.403091
4  2758300    MMM      1.534576

In [16]:
#Merging Data Frames to enrich the Web extract with a table of Index Constituent static data element including Name and Industry Sector
Tickermerge1 = Stockperiod1.merge(spcons, on = 'Symbol', how = 'left', suffixes = ('_{}'.format(ticker1),'_Cons'))\
.merge(spwgt1, on = 'Symbol', how = 'left', suffixes = ('_{}'.format(ticker1),'_Wgt'))
print(Tickermerge1.head())

        Date        Open        High         Low       Close   Adj Close  \
0 2020-01-02  177.679993  180.009995  177.139999  180.000000  170.862549
1 2020-01-03  177.020004  178.660004  175.630005  178.449997  169.391220
2 2020-01-06  177.149994  178.710007  176.350006  178.619995  169.552582
3 2020-01-07  178.279999  178.509995  176.820007  177.899994  168.869125
4 2020-01-08  178.000000  181.500000  177.649994  180.630005  171.460571

    Volume Symbol  MMM Movement Name       Sector    Weight
0  3601700    MMM           NaN   3M  Industrials  0.311953
1  2466900    MMM     -0.861113   3M  Industrials  0.311953
2  1998000    MMM      0.095264   3M  Industrials  0.311953
3  2173000    MMM     -0.403091   3M  Industrials  0.311953
4  2758300    MMM      1.534576   3M  Industrials  0.311953

In [17]:
#Pandas Data Frame using date derived from the Yahoo Finance Website
#Confirmation of the Web read with a print out of the Data Frame head
#Print out the Data Frame Info to verify the date type as this will be used in the merge operation to join the tables together
Stockperiod2 = pd.read_csv(Stock2)
Stockperiod2["Date"] = pd.to_datetime(Stockperiod2["Date"])
Stockperiod2["Symbol"] = ticker2
print(Stockperiod2.head())
Stockperiod2.info()
Stockperiod2.shape

        Date        Open        High         Low       Close   Adj Close  \
0 2020-01-02  106.529999  107.629997  106.290001  107.580002  102.649200
1 2020-01-03  106.000000  106.480003  105.209999  105.370003  100.540497
2 2020-01-06  104.599998  105.300003  104.290001  105.239998  100.416435
3 2020-01-07  105.269997  106.400002  105.220001  105.820000  100.969856
4 2020-01-08  106.120003  106.959999  105.809998  106.790001  101.895409

    Volume Symbol
0   675700   NTRS
1   995900   NTRS
2   878100   NTRS
3   686200   NTRS
4  1099900   NTRS
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253 entries, 0 to 252
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       253 non-null    datetime64[ns]
 1   Open       253 non-null    float64
 2   High       253 non-null    float64
 3   Low        253 non-null    float64
 4   Close      253 non-null    float64
 5   Adj Close  253 non-null    float64
 6   Volume     253 non-null    int64
 7   Symbol     253 non-null    object
dtypes: datetime64[ns](1), float64(5), int64(1), object(1)
memory usage: 15.9+ KB

(253, 8)

In [18]:
#Calculation to enrich the dataset with the daily movement
Stockperiod2['{} Movement'.format(ticker2)] = ((Stockperiod2['Close'.format(ticker2)] / Stockperiod2['Close'.format(ticker2)].shift(1))-1)*100
print(Stockperiod2.head())

        Date        Open        High         Low       Close   Adj Close  \
0 2020-01-02  106.529999  107.629997  106.290001  107.580002  102.649200
1 2020-01-03  106.000000  106.480003  105.209999  105.370003  100.540497
2 2020-01-06  104.599998  105.300003  104.290001  105.239998  100.416435
3 2020-01-07  105.269997  106.400002  105.220001  105.820000  100.969856
4 2020-01-08  106.120003  106.959999  105.809998  106.790001  101.895409

    Volume Symbol  NTRS Movement
0   675700   NTRS            NaN
1   995900   NTRS      -2.054284
2   878100   NTRS      -0.123380
3   686200   NTRS       0.551123
4  1099900   NTRS       0.916652

In [19]:
#Merging Data Frames to enrich the Web extract with a table of Index Constituent static data element including Name and Industry Sector
Tickermerge2 = Stockperiod2.merge(spcons, on = 'Symbol', how = 'left', suffixes = ('_{}'.format(ticker2),'_Cons'))\
.merge(spwgt1, on = 'Symbol', how = 'left', suffixes = ('_{}'.format(ticker2),'_Wgt'))
print(Tickermerge2.head())
Tickermerge2.shape

        Date        Open        High         Low       Close   Adj Close  \
0 2020-01-02  106.529999  107.629997  106.290001  107.580002  102.649200
1 2020-01-03  106.000000  106.480003  105.209999  105.370003  100.540497
2 2020-01-06  104.599998  105.300003  104.290001  105.239998  100.416435
3 2020-01-07  105.269997  106.400002  105.220001  105.820000  100.969856
4 2020-01-08  106.120003  106.959999  105.809998  106.790001  101.895409

    Volume Symbol  NTRS Movement            Name      Sector    Weight
0   675700   NTRS            NaN  Northern Trust  Financials  0.065311
1   995900   NTRS      -2.054284  Northern Trust  Financials  0.065311
2   878100   NTRS      -0.123380  Northern Trust  Financials  0.065311
3   686200   NTRS       0.551123  Northern Trust  Financials  0.065311
4  1099900   NTRS       0.916652  Northern Trust  Financials  0.065311

(253, 12)

In [20]:
spmerge1 = Tickermerge1.merge(Tickermerge2, on = 'Date', how = 'left', suffixes = ('_{}'.format(ticker1),'_{}'.format(ticker2)))\
.merge(sp500, on = 'Date', how = 'left', suffixes = ('_{}'.format(ticker1),'_Index'))
print(spmerge1)
spmerge1.shape

          Date    Open_MMM    High_MMM     Low_MMM   Close_MMM  Adj Close_MMM  \
0   2020-01-02  177.679993  180.009995  177.139999  180.000000     170.862549
1   2020-01-03  177.020004  178.660004  175.630005  178.449997     169.391220
2   2020-01-06  177.149994  178.710007  176.350006  178.619995     169.552582
3   2020-01-07  178.279999  178.509995  176.820007  177.899994     168.869125
4   2020-01-08  178.000000  181.500000  177.649994  180.630005     171.460571
..         ...         ...         ...         ...         ...            ...
248 2020-12-24  174.419998  174.789993  173.419998  174.520004     171.829178
249 2020-12-28  175.309998  176.399994  174.389999  174.710007     172.016251
250 2020-12-29  175.550003  175.639999  173.149994  173.850006     171.169510
251 2020-12-30  173.880005  174.919998  173.380005  174.110001     171.425491
252 2020-12-31  174.119995  174.869995  173.179993  174.789993     172.095001

     Volume_MMM Symbol_MMM  MMM Movement Name_MMM  ... NTRS Movement  \
0       3601700        MMM           NaN       3M  ...           NaN
1       2466900        MMM     -0.861113       3M  ...     -2.054284
2       1998000        MMM      0.095264       3M  ...     -0.123380
3       2173000        MMM     -0.403091       3M  ...      0.551123
4       2758300        MMM      1.534576       3M  ...      0.916652
..          ...        ...           ...      ...  ...           ...
248      656200        MMM      0.304615       3M  ...     -0.434832
249     1403000        MMM      0.108872       3M  ...      0.971729
250     1218900        MMM     -0.492245       3M  ...     -0.616348
251     1419100        MMM      0.149551       3M  ...      0.010874
252     1841300        MMM      0.390553       3M  ...      1.327242

          Name_NTRS  Sector_NTRS  Weight_NTRS  Open_Index  High_Index  \
0    Northern Trust   Financials     0.065311     3244.67     3258.14
1    Northern Trust   Financials     0.065311     3226.36     3246.15
2    Northern Trust   Financials     0.065311     3217.55     3246.84
3    Northern Trust   Financials     0.065311     3241.86     3244.91
4    Northern Trust   Financials     0.065311     3238.59     3267.07
..              ...          ...          ...         ...         ...
248  Northern Trust   Financials     0.065311     3694.03     3703.82
249  Northern Trust   Financials     0.065311     3723.03     3740.51
250  Northern Trust   Financials     0.065311     3750.01     3756.12
251  Northern Trust   Financials     0.065311     3736.19     3744.63
252  Northern Trust   Financials     0.065311     3733.27     3760.20

     Low_Index  Close_Index Volume_Index  S&P 500 Movement
0      3235.53      3257.85   3458250000               NaN
1      3222.34      3234.85   3461290000         -0.705987
2      3214.64      3246.28   3674070000          0.353339
3      3232.43      3237.18   3420380000         -0.280321
4      3236.67      3253.05   3720890000          0.490242
..         ...          ...          ...               ...
248    3689.32      3703.06   1885090000          0.353658
249    3723.03      3735.36   3527460000          0.872252
250    3723.31      3727.04   3387030000         -0.222736
251    3730.21      3732.04   3145200000          0.134155
252    3726.88      3756.07   3172510000          0.643884

[253 rows x 29 columns]

(253, 29)

In [24]:
#Simple Calcs using a for loop
total = 0
count = 0
Average = 0
maxval = 0
for tick1 in spmerge1["Close_{}".format(ticker1)]:
    total = np.round(total + tick1 ,2)
    count = count + 1
    average = np.round(total/count, 2)
print("The number of days trading is " +str(count))
print("The Average Price for the year is " + str(average))

The number of days trading is 253
The Average Price for the year is 159.73

In [28]:
#Adding a Column and if condition to compare the Primary Company daily movement to that of the Comparison Company
for ind, row in spmerge1.iterrows():
    if row['{} Movement'.format(ticker1)] < 0 and row['{} Movement'.format(ticker2)] < 0:
        spmerge1.loc[ind, "Company Movenents"] = "Both Negative"
    elif row['{} Movement'.format(ticker1)] > 0 and row['{} Movement'.format(ticker2)] > 0:
        spmerge1.loc[ind, "Company Movenents"] = "Both Positive"
    elif row['{} Movement'.format(ticker1)] > 0 and row['{} Movement'.format(ticker2)] < 0:
        spmerge1.loc[ind, "Company Movenents"] = "Company A positive to Company B"
    elif row['{} Movement'.format(ticker1)] < 0 and row['{} Movement'.format(ticker2)] > 0:
        spmerge1.loc[ind, "Company Movenents"] = "Company A Negative to Company B"
    else:
        spmerge1.loc[ind, "Company Movenents"] = "More Testing Required"

    
print(spmerge1.head())

        Date    Open_MMM    High_MMM     Low_MMM   Close_MMM  Adj Close_MMM  \
0 2020-01-02  177.679993  180.009995  177.139999  180.000000     170.862549
1 2020-01-03  177.020004  178.660004  175.630005  178.449997     169.391220
2 2020-01-06  177.149994  178.710007  176.350006  178.619995     169.552582
3 2020-01-07  178.279999  178.509995  176.820007  177.899994     168.869125
4 2020-01-08  178.000000  181.500000  177.649994  180.630005     171.460571

   Volume_MMM Symbol_MMM  MMM Movement Name_MMM  ...       Name_NTRS  \
0     3601700        MMM           NaN       3M  ...  Northern Trust
1     2466900        MMM     -0.861113       3M  ...  Northern Trust
2     1998000        MMM      0.095264       3M  ...  Northern Trust
3     2173000        MMM     -0.403091       3M  ...  Northern Trust
4     2758300        MMM      1.534576       3M  ...  Northern Trust

   Sector_NTRS  Weight_NTRS  Open_Index  High_Index  Low_Index  Close_Index  \
0   Financials     0.065311     3244.67     3258.14    3235.53      3257.85
1   Financials     0.065311     3226.36     3246.15    3222.34      3234.85
2   Financials     0.065311     3217.55     3246.84    3214.64      3246.28
3   Financials     0.065311     3241.86     3244.91    3232.43      3237.18
4   Financials     0.065311     3238.59     3267.07    3236.67      3253.05

   Volume_Index S&P 500 Movement                Company Movenents
0    3458250000              NaN            More Testing Required
1    3461290000        -0.705987                    Both Negative
2    3674070000         0.353339  Company A positive to Company B
3    3420380000        -0.280321  Company A Negative to Company B
4    3720890000         0.490242                    Both Positive

[5 rows x 30 columns]

In [29]:
#Adding a Column and if condition to compare the Primary Company daily movement to that of the Index
for ind, row in spmerge1.iterrows():
    if row['{} Movement'.format(ticker1)] < 0 and row['S&P 500 Movement'] < 0:
        spmerge1.loc[ind, "Index Movenent"] = "Both Negative"
    elif row['{} Movement'.format(ticker1)] > 0 and row['S&P 500 Movement'] > 0:
        spmerge1.loc[ind, "Index Movenent"] = "Both Positive"
    elif row['{} Movement'.format(ticker1)] > 0 and row['S&P 500 Movement'] < 0:
        spmerge1.loc[ind, "Index Movenent"] = "Company A positive to Company B"
    elif row['{} Movement'.format(ticker1)] < 0 and row['S&P 500 Movement'] > 0:
        spmerge1.loc[ind, "Index Movenent"] = "Company A Negative to Company B"
    else:
        spmerge1.loc[ind, "Index Movenent"] = "More Testing Required"

    
print(spmerge1.head())

        Date    Open_MMM    High_MMM     Low_MMM   Close_MMM  Adj Close_MMM  \
0 2020-01-02  177.679993  180.009995  177.139999  180.000000     170.862549
1 2020-01-03  177.020004  178.660004  175.630005  178.449997     169.391220
2 2020-01-06  177.149994  178.710007  176.350006  178.619995     169.552582
3 2020-01-07  178.279999  178.509995  176.820007  177.899994     168.869125
4 2020-01-08  178.000000  181.500000  177.649994  180.630005     171.460571

   Volume_MMM Symbol_MMM  MMM Movement Name_MMM  ... Sector_NTRS  Weight_NTRS  \
0     3601700        MMM           NaN       3M  ...  Financials     0.065311
1     2466900        MMM     -0.861113       3M  ...  Financials     0.065311
2     1998000        MMM      0.095264       3M  ...  Financials     0.065311
3     2173000        MMM     -0.403091       3M  ...  Financials     0.065311
4     2758300        MMM      1.534576       3M  ...  Financials     0.065311

   Open_Index  High_Index  Low_Index  Close_Index  Volume_Index  \
0     3244.67     3258.14    3235.53      3257.85    3458250000
1     3226.36     3246.15    3222.34      3234.85    3461290000
2     3217.55     3246.84    3214.64      3246.28    3674070000
3     3241.86     3244.91    3232.43      3237.18    3420380000
4     3238.59     3267.07    3236.67      3253.05    3720890000

   S&P 500 Movement                Company Movenents         Index Movenent
0               NaN            More Testing Required  More Testing Required
1         -0.705987                    Both Negative          Both Negative
2          0.353339  Company A positive to Company B          Both Positive
3         -0.280321  Company A Negative to Company B          Both Negative
4          0.490242                    Both Positive          Both Positive

[5 rows x 31 columns]